<main>
<div class="container"></div>
    <div>
        <img src="{{country.img}}" alt="{{country.country}}">
    </div>
    <div>
        <h1>{{country.country}}</h1>

        <h3>{{country.primaryWhiskyStyle}}</h3>
    </div>
    
        <h4>Top Selling Whiskey: {{country.topSellingWhisky}}</h4>
    <div>
        <a href="/country">Back to Countries</a>
    </div>
    <ul>
        {{#each country.whiskyProduced}}
        <a href="/country/{{../country.id}}/whisky/{{this._id}}">
                <img src="{{img}}" alt="{{name}}">
                
                <li>{{name}}</li>

        </a>
        {{/each}}
    </ul>
    {{!-- <a href="{{country._id}}/new">New Whiskey</a> --}}
</div>
</main>