<main>
    <div class="show-container">
        <div>
            <img class="round-image" src="{{country.img}}" alt="{{country.country}}">
        </div>
        <div>
            <h1>{{country.country}}</h1>

            <h3>Most Popular Style: {{country.primaryWhiskyStyle}}</h3>
        </div>

        <h4>Top Selling Whiskey: {{country.topSellingWhisky}}</h4>
        <div>
            <a href="/country">Back to Countries</a>
            <br>
            <a href="/country/{{country.id}}/edit">Edit Country</a>
        </div>
        <ul>
            {{#each country.whiskyProduced}}
            <a href="/country/{{../country.id}}/whisky/{{this._id}}">
            <div class="card">

                <img src="{{img}}" alt="{{name}}">

                <li>{{name}}</li>


            </div>
            </a>
            {{/each}}
        </ul>
        <a href="./{{country.id}}/whisky/new">Add Whiskey</a>
    </div>
</main>