<main>


  <div>
    <img src="{{whisky.img}}" alt="{{whisky.name}}">
  </div>
  <h1>Edit {{whisky.name}}</h1>

  <form method="POST" action=".?_method=PATCH">
    <div class="form-box">
      <div>
        <label for="name">Name of Whisky</label>
        <input type="text" name="name" value="{{whisky.name}}">
      </div>
      <div>
        <label for="img">Image URL</label>
        <input type="text" name="img" value="{{whisky.img}}">
      </div>
      <div>
        <label for="style">Style</label>
        <input type="text" name="style" value="{{whisky.style}}">
      </div>
      <div>
        <label for="yearsAged">Years Aged</label>
        <input type="text" name="yearsAged" value="{{whisky.yearsAged}}">
      </div>
      <div>
        <label for="originCountry">Country of Origin</label>
        <input type="text" name="originCountry" value="{{whisky.originCountry}}">
      </div>
      <div>
        <label for="distillery">Distillery</label>
        <input type="text" name="distillery" value="{{whisky.distillery}}">
      </div>
      <div>
        <label for="yearMade">Distillery Found</label>
        <input type="text" name="yearMade" value="{{whisky.yearMade}}">
      </div>

      <button type="submit">Edit Whisky</button>
    </div>
  </form>

  <a href="../../{{id}}">Back to profile</a>

</main>