<main>

    <h1>Whisk(e)y Lovers</h1>
    <div class="display-container">
        <ul class="flex-list">{{#each users}}
           <a href="/users/{{_id}}"> 
            <div class="card user">
                    <img class="soft-image" src="{{img}}" alt="{{name}}">
                    <li>{{name}}</li>
                    <li>{{country}}</li>
            </div>
            </a>
            {{/each}}
        </ul>
        <br>
        <a href="/users/new">Sign Up For
            <span>WISHkey</span>
        </a>
    </div>

</main>