


<main>

<h1>Whisk(e)y Lovers</h1>
<div class="display-container">
<ul>{{#each users}}
    <div class="card">
        <a href="/users/{{_id}}">
        <img class="soft-image" src="{{img}}" alt="{{name}}">
        <li>{{name}}</li>
        <li>{{country}}</li>
        </a>
        <form method="POST" action="/users/{{_id}}?_method=DELETE">
            <button class="delete" type="submit">Delete This Account</button>
        </form>
    </div>
    {{/each}}
</ul>
<br>
<a href="/users/new">Sign Up For <span>WISHkey</span></a>
</div>

</main>