<main>
    <div class="show-container">
        <div>
            <img class="soft-image" src="{{user.img}}" alt="{{user.name}}">
        </div>
        <div>
            <h1>{{user.name}}</h1>

            <h3>{{user.country}}</h3>
        </div>
        <br>
        <div>
            <a href="/users/{{user.id}}/edit">
                <button>
                    Edit Me
                </button>
            </a>
            <button>
                <a href="/users/">Back to Users</a>
            </button>

        </div>
        <br>
        <h4>{{user.name}}'s Favorite Whiskey:</h4>
        <br>

        <ul>
            {{#each user.favoriteWhisky}}
            <a href="/users/{{../user.id}}/favWhisky/{{this._id}}">
            <div class="card">

                <img src="{{img}}" alt="{{name}}">

                <li>{{name}}</li>


            </div>
            </a>
            {{/each}}
        </ul>
        <br>
        <a href="./{{user.id}}/favWhisky/new">Add Whiskey</a>
        <form method="POST" action="/users/{{user.id}}?_method=DELETE">
            <button class="delete" type="submit">Delete This Account</button>
        </form>
    </div>
</main>