<main>
<div class="container"></div>
    <div>
        <img src="{{user.img}}" alt="{{user.name}}">
    </div>
    <div>
        <h1>{{user.name}}</h1>

        <h3>{{user.country}}</h3>
    </div>
    
        <h4>{{user.name}}'s Favorite Whiskey: {{user.favoriteWhisky}}</h4>
    <div>
        <a href="/user/{{user.id}}/edit">Edit Me</a>
        <a href="/user/">Back to Users</a>
    </div>
    {{!-- <a href="{{user._id}}/new">New Whiskey</a> --}}
</div>
</main>