<main>
    <div class="container">
        <div>
            <img class="soft-image" src="{{user.img}}" alt="{{user.name}}">
        </div>
        <div>
            <h1>{{user.name}}</h1>

            <h3>{{user.country}}</h3>
        </div>

        <h4>{{user.name}}'s Favorite Whiskey:</h4>

        <div>
            <button>
                <a href="/users/{{user.id}}/edit">Edit Me</a>
            </button>
            <button>
                <a href="/users/">Back to Users</a>
            </button>

        </div>
        <ul>
            {{#each user.favoriteWhisky}}
            <div class="card">
                <a href="/users/{{../user.id}}/favWhisky/{{this._id}}">
                    <img src="{{img}}" alt="{{name}}">

                    <li>{{name}}</li>

                </a>
            </div>
            {{/each}}
        </ul>
        <a href="./{{user.id}}/favWhisky/new">Add Whiskey</a>
        <form method="POST" action="/users/{{user.id}}?_method=DELETE">
            <button class="delete" type="submit">Delete This Account</button>
        </form>
    </div>
</main>